html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*@font-face {
  src: url('./fonts/HP Simplified Bold.otf');
  font-family: "hp";
  font-weight: bold;
}*/

/*@font-face {
  src: url('./fonts/HPSimplified_Bd.ttf');
  font-family: "hp";
  font-weight: bold;
}*/

@font-face {
  src: url('./fonts/kiscbt.otf');
  font-family: "kiscbt";
  font-weight: normal;
}

body {
  font-family: 'kiscbt', sans-serif;
  background: #d5c4b8;
}

button {
  font-family: 'kiscbt', sans-serif;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  top: 0;
  left: 0;
  z-index: 1001;
}

.loader__img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -20px 0 0 -20px;
}

.main-bg {
  background: url('./img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.leaves {
  position: absolute;
  top: 0;
}

.leaves--left {
  left: 0;
}

.leaves--right {
  right: 0;
}

.main-img {
  margin: 20px 0 0 -69px;
}

.dn-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.main-btn {
  background-color: rgba(255,255,255,.7);
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 22px;
  font-family: kiscbt, sans-serif;
  position: absolute;
  bottom: 335px;
  outline: 0;
  left: 50%;
  margin-left: -117px;
  cursor: pointer;
}

.main-btn:hover {
  background: #fff;
}

.main-btn:hover>.main-btn__text::before {
  background: url('./img/arrow-hover.png');
}

.main-content {
  background: #f1e2c2;
  position: relative;
  padding: 60px 0 0 0;
  text-align: center;
}

.main-content::before {
  content: '';
  width: 100%;
  height: 52px;
  background: url('./img/line.png');
  position: absolute;
  top: -52px;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-btn__text {
  position: relative;
  margin: 0 0 0 15px;
}

.main-btn__text::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -15px;
  background: url('./img/arrow-btn.png');
  width: 10px;
  height: 17px;
  background-repeat: no-repeat;
}

.main-text {
  margin: 10px auto 40px auto;
  max-width: 900px;
  line-height: 1.5;
  font-size: 20px;
}

.main-text--large {
  font-size: 48px;
  margin: 0 auto;
}

.footer {
  width: 100%;
  margin: -120px 0 0 0;
}

.start,
.forum-btn {
  font-size: 24px;
  text-transform: uppercase;
  border: 1px solid #000000;
  background: #f5e155;
  border-radius: 30px;
  padding: 15px 70px;
  cursor: pointer;
  position: relative;
  outline: 0;
}

.start:hover,
.forum-btn:hover {
  background: #f2c200;
}

.forum-btn {
  padding: 10px 30px;
  font-size: 20px;
  position: absolute;
  bottom: 256px;
  left: 50%;
  width: 315px;
  margin: 0 0 0 -165px;
  z-index: 1;
}

.desc {
  color: rgba(0,0,0,.7);
  font-size: 18px;
  margin: 10px 0 0 0;
}

.rules {
  margin: 20px 0 0 0;
  color: #002a75;
  font-size: 18px;
  cursor: pointer;
}

.rules-text {
  border-bottom: 1px solid #002a75;
  padding-bottom: 2px;
  position: relative;
}

.rules-text:hover {
  color: #ff1111;
  border-bottom-color: #ff1111;
}

.rules-text::after {
  content: "";
  position: absolute;
  top: 0;
  right: -33px;
  background: url('./img/drop.png');
  width: 33px;
  height: 24px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 2;
}

.modal {
  position: absolute;
  width: 900px;
  background: #fefefd;
  background-image: linear-gradient(to top, rgba(238, 213, 199, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  border-radius: 20px;box-shadow: 0 -5px 0 0 rgba(35, 28, 21, 0.1) inset;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -400px;
  max-height: 100%
}

.modal-content {
  max-width: 720px;
  margin: auto;
  text-align: center;
  padding: 70px;
}

.rules-container {
  height: 600px;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-right: 20px;
  max-height: 100%;
  text-align: left;
}

.modal-title {
  color: #030303;
  font-size: 48px;
  font-style: italic;
}

.modal-title--small {
  font-size: 24px;
  margin: 10px 0 20px 0;
}

.start-test {
  padding: 15px 100px;
  margin: 42px 0 0 0;
}

.cancel {
  font-size: 18px;
  color: #787878;
  margin: 10px 0 0 0;
  cursor: pointer;
  display: inline-block;
}

.cancel:hover {
  text-decoration: underline;
}

.main-pic {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.pic-container {
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

.hidden-object-container {
  position: relative;
  background: url('./img/room-bg.png');
  min-width: 1302px;
  text-align: center;
}

.counter {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 48px;
  color: rgba(3, 3, 3, 0.5);
}

.pic-title {
  position: absolute;
  top: 25%;
  font-size: 48px;
  line-height: 1.5;
  font-style: italic;
  width: 630px;
  left: 50%;
  margin-left: -315px;
}

.hidden-object-footer {
  background: #d6c5b9;
  height: 100px;
  margin: -13px 0 0 0;
}

.main-container {
  background: #fff;
  min-height: 100vh;
}

.hidden-object {
  position: absolute;
  z-index: 1;
}

.hidden-object-name {
  position: absolute;
  z-index: 2;
  color: #fff;
  background: rgba(0,0,0,.5);
  padding: 5px 10px;
  font-size: 17px;
  border-radius: 5px;
  text-shadow: 1px 1px rgba(0,0,0,.5);
  opacity: 0;
}

.hidden-object[data-id="1"] {
  top: 388px;
  left: 171px;
}

.hidden-object[data-id="2"] {
  top: 63px;
  right: 198px;
}

.hidden-object[data-id="3"] {
  bottom: 11px;
  right: 370px;
}


.hidden-object[data-id="4"] {
  top: 343px;
  right: 118px;
}


.hidden-object[data-id="5"] {
  top: 249px;
  right: 107px;
}

.hidden-object-name[data-id="1"] {
  top: 429px;
  left: 163px;
}

.hidden-object-name[data-id="2"] {
  top: 163px;
  right: 175px;
}

.hidden-object-name[data-id="3"] {
  bottom: -21px;
  right: 426px;
}


.hidden-object-name[data-id="4"] {
  top: 440px;
  right: 81px;
}


.hidden-object-name[data-id="5"] {
  top: 306px;
  right: 149px;
}

.hidden-object--selected {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: tada
}

.hidden-object-name--selected {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn
}

.result-title {
  font-size: 60px;
  font-style: italic;
}

.result-title--small {
  font-size: 24px;
  font-style: normal;
  margin: 30px 0 0 0;
}

.test-title {
  font-size: 24px;
  color: rgba(3, 3, 3, 0.5);
}

.test-desc {
  font-size: 24px;
}

.test-item {
  font-size: 50px;
  margin: 50px 0 70px 0;
  font-style: italic;
}

.test-answer {
  font-size: 24px;
  color: #fff;
  outline: 0;
  border-radius: 40px;
  border: 1px solid #000;
  padding: 15px 30px;
  cursor: pointer;
  margin: 0 20px;
}

.test-answer--wrong {
  background: #f94141;
}

.test-answer--correct {
  background: #47b611;
  padding: 15px 48px;
}

.answer-check {
  font-size: 24px;
  margin: 25px 0 0 0;
  height: 24px;
}

.answer-check--wrong {
  color: #f94141;
}

.answer-check--correct {
  color: #47b611;
}

.potrait-title {
  font-size: 48px;
  margin: 0 0 20px 0;
}

.potrtrait-container {
  padding: 60px 0 20px 0;
  text-align: center;
  background: url('./img/room-bg.png');
}

.portrait {
  margin: 5px 10px 10px 15px;
  vertical-align: middle;
  cursor: pointer;
}

.potrtrait-content {
  max-width: 1200px;
  margin: auto;
}

.state {
  position: fixed;
  bottom: 0;
}

.state-1 {
  right: 0;
}

.state-2 {
  left: 0;
}

.rating-container {
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 50px 0;
  color: #030303;
}

.rating-title {
  font-size: 36px;
  line-height: 1.5;
}

.it {
  font-style: italic;
}

.result-table-header {
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  margin: 50px 0 0 0;
}

.rating-table-container {
  border: 1px solid #eae9e9;
  margin: 10px 0 0 0;
  max-height: 300px;
  overflow-y: auto;
}

.result-table {
  width: 100%;
}

.rating-me>td {
  background: #f3e23f;
}

.result-table {
  width: 100%;
}

.result-table>tbody>tr>td {
  border-bottom: 1px solid #eae9e9;
}

.rating-res {
  text-align: center;
  width: 100px;
}

.friend-check {
  padding: 15px 10px;
  text-align: center;
}

.rating-name {
  text-align: left;
}

.rating-time {
  color: rgba(0,0,0,.5);
}

.user-link {
  text-decoration: none;
  color: inherit;
}

.go-main {
  cursor: pointer;
  text-decoration: underline;
  font-size: 18px;
  color: #002a75;
  line-height: 20px;
  display: inline-block;
  margin: 10px 0 0 0;
}

.invite,
.send-invite {
  margin-top: 30px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.friend-item {
  display: inline-block;
  width: 150px;
  vertical-align: top;
  margin: 10px;
}

.friends-container {
  max-height: 250px;
  overflow: auto;
}

.user-photo {
  border-radius: 50px;
  cursor: pointer;
  border: 3px solid transparent;
}

.friend-name {
  font-size: 18px;
  color: #787878;
  margin: 8px 0 0 0;
}

.user-photo--selected {
  border: 3px solid #61a625;
}

.start-again {
  margin: 20px 0 0 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1)
  }
  10%,
  20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
  }
  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
  }
  100% {
    transform: scale3d(1, 1, 1)
  }
}

.load {
  margin: 10px 0;
  padding: 5px 15px;
  font-size: 16px;
}

.modal-title--win {
  font-size: 30px;
}

.win-item {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  margin: 10px 30px;
}

.win-item__img {
  width: 140px;
  border-radius: 70px;
}

.win-item__name {
  font-size: 18px;
  line-height: 22px;
  margin: 10px 0 0 0;
}

.win-item__link {
  color: #030303;
  text-decoration: none;
}

.win-container {
  margin: 20px 0 50px 0;
}

@media (max-width: 1130px) {
  .leaves--right {
    display: none;
  }

  .main-img {
    margin-left: 0;
  }
}

@media (max-width: 1000px) {
  .leaves {
    display: none;
  }
}
